.group {
  display: flex;
  flex-direction: column;

  align-items: center;
  img {
    width: 19.6rem;
    height: auto;
  }
  p {
    font-size: 3rem;
    font-weight: 600;
    color: #030712;
    line-height: 1.3;
    margin-bottom: 2.4rem;
  }
  .container {
    background-color: #eff6ff;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 46rem;
    height: 29rem;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 44rem;
      padding: 1.6rem 2.4rem;
      label {
        font-size: 1.8rem;
        font-weight: 500;
        color: #1f2937;
      }
      input {
        border: 1px solid #d1d5db;
        padding: 0.8rem 1.2rem;
        height: 4rem;
        border-radius: 0.7rem;
      }
      button {
        padding: 1.6rem 3.2rem;
        border-radius: 7px;
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: 8px;
        background-color: #2563eb;
        border: 1px solid #d1d5db;
        color: #fff;
      }
    }
  }
}
